*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body {
    background:linear-gradient(45deg, rgb(65, 22, 101),rgb(17, 9, 58));
    height:100%;
    width:100%;
    padding: 10px;
}
a {
    text-decoration: none;
    color:white;
}
.navbar{ 
    background-color:rgb(23, 11, 54);
    left: 0;
    top:0;
    width: 100%;
    padding:25px 2%;
    text-align: right;
    position: fixed;
    z-index: 100;
    
}
.navbar ul{
    display: flex;
    justify-content: end;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
}
.navbar ul li:hover a{
    color:pink;
}
#about_me{
    display: flex;
    align-items: center;
    height: 100vh;
    padding:60px 9% 0 ;
    color: white;
    
}
.intro h1{
    font-size: 55px;
    
}
.intro p{
    font-size: 20px;
    margin:10px 0 25px;
}
.intro .btn-sci{
    display: flex;
    align-items: center;

}
.btn{
    display: inline-block;
    padding: 10px 30px ;
    background: pink;
    border: 2px transparent;
    border-radius: 40px;
    box-shadow: 0 0 10px pink;
    font-size: 16px;
    font-weight: 600;
    transition: .5s;
}
.btn:hover{
    background: transparent;
    color: rgb(239, 96, 120);
    box-shadow: none;
}
.intro .btn-sci .sci{
    margin-left: 20px;

}
.intro .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid  pink;
    border-radius: 50%;
    font-size: 20px;
    color: pink;
    margin:0 8px;
    transition: .5s;

}
.intro .btn-sci .sci a:hover{
    background: rgb(239, 96, 120);
    color: rgb(239, 96, 120);
    box-shadow: 0 0 10px rgb(239, 96, 120);
}
.image{
    position: absolute;
    top: 20%;
    right: 10%; 
}
.image img{
    border-radius: 20px;
    border: 15px transparent white;
}
#skills
{ 
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;

}
.skills_head{
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    width: 80%;
    max-width: 900px;
}
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr; /* single column on mobile */
    }
}

.skill-card h2{
    font-size: 30px;
    font-weight: 600;
}
.skill-card{
    box-shadow: 0 0 10px rgba(255, 192, 203, 0.3) ;
    border-radius: 15px;
    background: rgb(23, 11, 54);
    padding: 20px;
    transition: .5s;
    color: white;
}
.skill-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 15px pink;
}
.skill-card p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
}
#projects {
    min-height: 100vh;
    padding: 80px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
    justify-content: center;
}

.projects_head {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    width: fit-content;
    justify-content: center;               
    align-items: center;                   
}


.project-card {
    background: rgb(23, 11, 54);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(255, 192, 203, 0.3);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 250px;
}

.project-card h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.project-card img {
    max-width: 80%;
    max-height: 60%;   
    border-radius: 10px;
    margin-bottom: 10px;
}


.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px pink;
}
@media (max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;  
    }
}
#projects .projects-container .project-card a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid  pink;
    border-radius: 50%;
    font-size: 20px;
    color: pink;
    margin:0 8px;
    transition: .5s;

}
#projects .projects-container .project-card a:hover{
    background: rgb(239, 96, 120);
    color: rgb(239, 96, 120);
    box-shadow: 0 0 10px rgb(239, 96, 120);

}
#contact{
    min-height: 100vh;
    padding: 80px 9%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; 
    justify-content: center;

}
.contact-head{
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}
.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1rem;
    margin-top: 5 rem;
    
}
.input-box input,
.input-box textarea {
    padding: 18px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    resize: none; 
    width: 100vh;                   
}
.input-box textarea {
    min-height: 150px;   
}

.input-box input::placeholder,
.input-box textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.btn-group {
    margin-top: 20px;
}

.button {
    background: pink;
    color: white;
    padding: 12px 30px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    border: 2px transparent;
    border-radius: 40px;
    box-shadow: 0 0 10px pink;
}

.button:hover {
    background: transparent;
    color: rgb(239, 96, 120);
    box-shadow: none;
}
@media (max-width: 500px) {
    .input-box {
        width: 100%;
    }
}
